*{
    margin: 0;
    padding: 0;
}
.topo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.562);
}
.topo img{
    width: 100px;
    padding: 0 10px;
}
.topo h1{
    padding: 0 10px;
}
.videos{
    text-align: center;
}
